<h1>{{ title }}</h1>
<small>It's important to not allowed recalculation</small>

<hr/><hr/>
<small>Pipe pure (Good way, go to pipe file and enabled console to look console browser)</small>
<h3>Users salary >= 2'000.000</h3>
<ul>
  <li *ngFor="let user of (users | filterSalary:2000000)">
    <p>{{ user.name }}</p>
    <p>{{ user.age }}</p>
    <p>{{ user.salary | currency:'USD':'symbol':'1.0-0'}}</p>
  </li>
</ul>
<hr/>
<small>Pipe not pure (Bad way, go to pipe file and enabled console to look console browser)</small>
<h3>Users salary >= 2'000.000</h3>
<ul>
  <li *ngFor="let user of (users | filterSalaryNotPure:2000000)">
    <p>{{ user.name }}</p>
    <p>{{ user.age }}</p>
    <p>{{ user.salary | currency:'USD':'symbol':'1.0-0'}}</p>
  </li>
</ul>